@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.cdnfonts.com/css/metropolis-2');

:root {
  font-family: 'Metropolis', sans-serif;
  -webkit-user-select: none;
  user-select: none;
}

body {
  background-color: #F0EFF4;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 0.5dvh;
  background: linear-gradient(to left, #DA4167, #832161);
  transform-origin: 0%;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #F0EFF4;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
border: 3px solid transparent;
 background-clip: content-box;
  background-color: #3D2645;
}

.FutureTexture {
  background: url(./_assets/FutureTexture.png) 0 0 / cover no-repeat;
  background-position: 50%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, .1fr);
  }

  /*
.parent > div {
  border: 1px solid red;
  background-color: white;
}
*/